Contains the Familiarity, Preference and Scatter plots

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# !pip install openpyxl
# !pip install xlwt

# Loading data

In [8]:
df = pd.read_csv('C:/Users/Keerthi/OneDrive/Documents/MMT/Project/Collected data/MMT tweaking.csv')
df

,NAME,Familiar languages,Mother language,Home State,States lived,Age,Gender,Are you musical trained?,"If yes, select the number of years you've trained",preferred genres,...,Preference20,[Dreamy]20,[Love]20,[Energy]20,[Danceable]20,[Electronic]20,[Sad]20,[Calm]20,[Cheerful]20,[Tense]20
0,Shreyash N. Gujar,"English, Hindi, Marathi",Marathi,North,"Maharashtra, Telangana",22,Male,No,NaN,"Jazz, Classical, Rock, Religious, Pop, Hip Hop",...,4,2,2,3,3,3,1,1,2,1
1,Shravya Kukkapalli,"English, Hindi, Telugu",Telugu,South,South,19,Female,No,NaN,"Classical, Folk, Sound Tracks, Rap",...,3,1,1,2,2,2,1,1,2,1
2,Jefin,"English, Malayalam",Malayalam,CROSS,Telangana,19,Male,No,0 -1 years,Pop,...,4,4,4,4,4,4,4,4,4,4
3,Hrithwik,Malayalam,Malayalam,South,Telangana,20,Male,No,NaN,"Blues, Classical, Rock, Rap, Hip Hop",...,3,1,1,1,1,1,1,1,1,1
4,ARJUN M,"English, Hindi, Malayalam, Tamil",Malayalam,South,Kerala,20,Male,No,NaN,"Rock, Religious, Pop",...,1,3,2,2,2,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,V.keshava kishora nanda,"English, Hindi, Telugu, Malayalam, Tamil, Kannada",Telugu,South,"South, Telangana",18,Male,No,NaN,"Classical, Folk, Sound Tracks, Electronica/Dance",...,2,2,1,4,3,3,1,1,3,1
77,khushi,"English, Punjabi, Hindi","Punjabi, Hindi",North,"Punjab, Telangana",19,Female,No,0 -1 years,"Blues, Jazz, Classical, Folk, Country, Religio...",...,3,1,1,3,2,3,1,1,2,3
78,Akash Vallamsetty,"English, Hindi, Telugu",Telugu,South,South,20,Male,No,NaN,"Classical, Rock",...,4,3,2,3,3,2,1,1,2,1
79,Manas Deshmukh,"English, Hindi",Matathi,North,Maharashtra,19,Male,Yes,1 - 2 years,"Jazz, Rock, Hip Hop",...,2,3,2,3,2,3,2,3,2,3
80,Manaswini,"English, Hindi, Telugu",Telugu,South,"South, Telangana",20,Female,Yes,1 - 2 years,Classical,...,2,2,1,2,3,2,1,1,1,1

# South

In [9]:
south_hs = df.loc[df['Home State'] == 'South']
# south_hs

## South Familiarity

In [10]:
# Familiarity of KOR for South participants

KOR_familiarity_mean = []

for index, row in south_hs.iterrows():
    # get the 'Language' columns that have the value 'KOR'
    kor_cols = [
        col for col in row.index if 'Language' in col and row[col] == 'KOR']

    # extract the 'Familiarity' values corresponding to the 'Language' columns
    kor_familiarities = [
        row[col.replace('Language', 'Familiarity')] for col in kor_cols]

    # get the mode of the 'Familiarity' values
    # familiarity_modes.append(np.argmax(np.bincount(kor_familiarities)))
    KOR_familiarity_mean.append(np.mean(kor_familiarities))

print(KOR_familiarity_mean)

[1.8, 1.0, 2.6, 1.0, 1.0, 1.0, 1.0, 1.2, 1.0, 2.2, 1.2, 1.0, 1.0, 1.2, 2.4, 1.0, 1.0, 1.4, 1.0, 1.0, 1.0, 1.0, 1.0, 2.8, 1.0, 1.0, 1.6, 1.0, 1.0, 1.0, 1.2, 1.0, 1.0, 1.2, 1.0, 1.0, 1.6, 1.8, 1.0, 1.0, 1.6, 1.4, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]

In [11]:
# Familiarity of BRA for South participants

BRA_familiarity_mean = []

for index, row in south_hs.iterrows():
    # get the 'Language' columns that have the value 'KOR'
    bra_cols = [
        col for col in row.index if 'Language' in col and row[col] == 'BRA']

    # extract the 'Familiarity' values corresponding to the 'Language' columns
    bra_familiarities = [
        row[col.replace('Language', 'Familiarity')] for col in bra_cols]

    # get the mode of the 'Familiarity' values
    # familiarity_modes.append(np.argmax(np.bincount(kor_familiarities)))
    BRA_familiarity_mean.append(np.mean(bra_familiarities))

print(BRA_familiarity_mean)

[1.0, 1.0, 1.0, 1.0, 1.2, 1.0, 1.2, 1.0, 1.0, 1.2, 1.0, 1.0, 1.0, 1.0, 2.2, 1.0, 1.0, 1.0, 1.0, 1.2, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.2, 1.6, 1.2, 1.0, 1.0, 1.4, 1.8, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.2]

In [12]:
# Familiarity of USA for South participants

USA_familiarity_mean = []

for index, row in south_hs.iterrows():
    # get the 'Language' columns that have the value 'KOR'
    usa_cols = [
        col for col in row.index if 'Language' in col and row[col] == 'USA']

    # extract the 'Familiarity' values corresponding to the 'Language' columns
    usa_familiarities = [
        row[col.replace('Language', 'Familiarity')] for col in usa_cols]

    # get the mode of the 'Familiarity' values
    # familiarity_modes.append(np.argmax(np.bincount(kor_familiarities)))
    USA_familiarity_mean.append(np.mean(usa_familiarities))

print(USA_familiarity_mean)

[1.0, 1.0, 1.4, 1.0, 1.0, 1.0, 1.6, 2.2, 1.0, 1.8, 1.2, 1.6, 1.0, 1.4, 1.6, 1.0, 1.2, 1.0, 1.0, 2.2, 1.0, 1.2, 1.0, 2.8, 1.0, 1.2, 1.6, 2.4, 1.0, 1.2, 1.0, 1.0, 1.0, 1.0, 1.0, 1.8, 1.6, 2.0, 1.0, 1.2, 2.4, 1.0, 1.0, 1.8, 1.0, 1.0, 1.4, 1.0, 1.0, 1.0]

In [13]:
# Familiarity of North for South participants

North_familiarity_mean = []

for index, row in south_hs.iterrows():
    # get the 'Language' columns that have the value 'KOR'
    north_cols = [
        col for col in row.index if 'Language' in col and row[col] == 'North']

    # extract the 'Familiarity' values corresponding to the 'Language' columns
    north_familiarities = [
        row[col.replace('Language', 'Familiarity')] for col in north_cols]

    # get the mode of the 'Familiarity' values
    # familiarity_modes.append(np.argmax(np.bincount(kor_familiarities)))
    North_familiarity_mean.append(np.mean(north_familiarities))

print(North_familiarity_mean)

[1.0, 1.6666666666666667, 2.0, 1.6666666666666667, 1.0, 2.0, 2.3333333333333335, 1.3333333333333333, 1.6666666666666667, 2.75, 1.75, 1.0, 1.0, 2.0, 2.5, 1.75, 1.75, 1.5, 2.3333333333333335, 1.3333333333333333, 2.0, 2.0, 1.0, 1.5, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 2.0, 1.0, 2.5, 2.0, 2.5, 2.0, 1.0, 1.0, 1.0, 1.0, 3.0, 1.0, 4.0, 1.0, 1.0, 1.0, 1.0]

In [14]:
# Familiarity of South for South participants

South_familiarity_mean = []

for index, row in south_hs.iterrows():
    # get the 'Language' columns that have the value 'KOR'
    south_cols = [
        col for col in row.index if 'Language' in col and row[col] == 'South']

    # extract the 'Familiarity' values corresponding to the 'Language' columns
    south_familiarities = [
        row[col.replace('Language', 'Familiarity')] for col in south_cols]

    # get the mode of the 'Familiarity' values
    # familiarity_modes.append(np.argmax(np.bincount(kor_familiarities)))
    South_familiarity_mean.append(np.mean(south_familiarities))

print(South_familiarity_mean)

[2.0, 1.0, 2.5, 1.5, 1.0, 1.5, 3.5, 3.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.5, 3.0, 2.0, 1.0, 1.5, 3.3333333333333335, 2.6666666666666665, 3.6666666666666665, 3.0, 2.0, 3.0, 2.3333333333333335, 1.3333333333333333, 2.0, 3.0, 3.3333333333333335, 2.3333333333333335, 3.0, 3.3333333333333335, 3.6666666666666665, 3.0, 3.0, 3.6666666666666665, 1.75, 2.25, 2.25, 2.0, 2.0, 2.5, 2.25, 2.5, 1.5]

In [15]:
south_familiarity_ratings_of_other_cultures = pd.DataFrame(
    {'KOR': KOR_familiarity_mean, 'BRA': BRA_familiarity_mean, 'USA': USA_familiarity_mean, 'North': North_familiarity_mean, 'South': South_familiarity_mean})

south_familiarity_ratings_of_other_cultures

filepath = 'south_familiarity_ratings_of_other_cultures.xlsx'

south_familiarity_ratings_of_other_cultures.to_excel(filepath, index=False)

## South Preference

In [16]:
# Familiarity of KOR for South participants

KOR_familiarity_mean = []

for index, row in south_hs.iterrows():
    # get the 'Language' columns that have the value 'KOR'
    kor_cols = [
        col for col in row.index if 'Language' in col and row[col] == 'KOR']

    # extract the 'Familiarity' values corresponding to the 'Language' columns
    kor_familiarities = [
        row[col.replace('Language', 'Preference')] for col in kor_cols]

    # get the mode of the 'Familiarity' values
    # familiarity_modes.append(np.argmax(np.bincount(kor_familiarities)))
    KOR_familiarity_mean.append(np.mean(kor_familiarities))

print(KOR_familiarity_mean)

[3.2, 1.8, 3.6, 3.2, 3.0, 1.4, 2.6, 3.0, 2.6, 2.4, 2.8, 2.6, 2.6, 3.2, 4.0, 3.4, 3.6, 3.4, 3.4, 3.8, 3.6, 2.8, 3.6, 4.2, 2.8, 3.6, 3.6, 3.0, 3.8, 3.0, 2.6, 2.8, 3.0, 3.8, 3.6, 3.0, 3.8, 3.6, 2.8, 3.8, 3.4, 4.2, 2.8, 3.4, 2.2, 2.8, 2.4, 1.8, 3.6, 1.4]

In [17]:
# Familiarity of BRA for South participants

BRA_familiarity_mean = []

for index, row in south_hs.iterrows():
    # get the 'Language' columns that have the value 'KOR'
    bra_cols = [
        col for col in row.index if 'Language' in col and row[col] == 'BRA']

    # extract the 'Familiarity' values corresponding to the 'Language' columns
    bra_familiarities = [
        row[col.replace('Language', 'Preference')] for col in bra_cols]

    # get the mode of the 'Familiarity' values
    # familiarity_modes.append(np.argmax(np.bincount(kor_familiarities)))
    BRA_familiarity_mean.append(np.mean(bra_familiarities))

print(BRA_familiarity_mean)

[3.0, 1.8, 2.6, 3.2, 3.0, 1.6, 3.6, 1.8, 3.0, 3.2, 3.0, 3.6, 2.4, 2.6, 3.8, 3.2, 3.0, 3.2, 3.0, 3.2, 3.4, 3.0, 3.8, 3.2, 2.6, 3.2, 3.6, 2.6, 3.2, 4.4, 2.2, 2.6, 3.0, 3.4, 3.8, 2.6, 3.8, 2.8, 3.0, 2.2, 3.2, 3.4, 3.0, 3.2, 2.6, 3.0, 3.2, 3.2, 3.6, 2.6]

In [18]:
# Familiarity of USA for South participants

USA_familiarity_mean = []

for index, row in south_hs.iterrows():
    # get the 'Language' columns that have the value 'KOR'
    usa_cols = [
        col for col in row.index if 'Language' in col and row[col] == 'USA']

    # extract the 'Familiarity' values corresponding to the 'Language' columns
    usa_familiarities = [
        row[col.replace('Language', 'Preference')] for col in usa_cols]

    # get the mode of the 'Familiarity' values
    # familiarity_modes.append(np.argmax(np.bincount(kor_familiarities)))
    USA_familiarity_mean.append(np.mean(usa_familiarities))

print(USA_familiarity_mean)

[3.0, 1.8, 2.6, 3.2, 3.0, 2.6, 3.6, 3.2, 2.8, 3.2, 3.0, 3.0, 3.0, 2.4, 4.0, 3.6, 2.8, 3.0, 3.0, 4.4, 4.0, 3.2, 3.6, 3.8, 2.4, 2.4, 3.2, 4.0, 3.6, 3.4, 2.4, 4.0, 2.8, 3.8, 3.0, 3.6, 4.0, 3.4, 2.8, 2.6, 3.4, 4.0, 2.8, 3.2, 2.0, 1.4, 3.6, 3.0, 3.6, 2.0]

In [19]:
# Familiarity of North for South participants

North_familiarity_mean = []

for index, row in south_hs.iterrows():
    # get the 'Language' columns that have the value 'KOR'
    north_cols = [
        col for col in row.index if 'Language' in col and row[col] == 'North']

    # extract the 'Familiarity' values corresponding to the 'Language' columns
    north_familiarities = [
        row[col.replace('Language', 'Preference')] for col in north_cols]

    # get the mode of the 'Familiarity' values
    # familiarity_modes.append(np.argmax(np.bincount(kor_familiarities)))
    North_familiarity_mean.append(np.mean(north_familiarities))

print(North_familiarity_mean)

[3.3333333333333335, 2.0, 4.333333333333333, 4.0, 3.0, 3.3333333333333335, 4.0, 4.0, 3.0, 3.75, 3.5, 2.75, 3.0, 3.0, 4.0, 3.5, 3.75, 3.5, 4.0, 3.3333333333333335, 4.0, 3.3333333333333335, 3.3333333333333335, 4.5, 3.0, 4.0, 3.0, 2.0, 2.0, 4.0, 3.5, 1.5, 3.0, 3.5, 4.5, 4.0, 3.5, 3.5, 3.5, 1.5, 2.5, 4.0, 3.0, 4.0, 3.0, 4.0, 3.0, 3.0, 2.0, 3.0]

In [20]:
# Familiarity of South for South participants

South_familiarity_mean = []

for index, row in south_hs.iterrows():
    # get the 'Language' columns that have the value 'KOR'
    south_cols = [
        col for col in row.index if 'Language' in col and row[col] == 'South']

    # extract the 'Familiarity' values corresponding to the 'Language' columns
    south_familiarities = [
        row[col.replace('Language', 'Preference')] for col in south_cols]

    # get the mode of the 'Familiarity' values
    # familiarity_modes.append(np.argmax(np.bincount(kor_familiarities)))
    South_familiarity_mean.append(np.mean(south_familiarities))

print(South_familiarity_mean)

[3.5, 2.0, 3.0, 4.0, 3.0, 3.5, 4.0, 4.0, 2.0, 3.0, 3.0, 3.0, 4.0, 3.0, 4.0, 3.0, 3.0, 3.0, 4.5, 4.5, 4.0, 3.0, 3.5, 1.6666666666666667, 3.0, 3.3333333333333335, 4.333333333333333, 3.6666666666666665, 4.0, 3.6666666666666665, 3.0, 3.3333333333333335, 4.0, 4.0, 4.333333333333333, 3.3333333333333335, 4.333333333333333, 4.333333333333333, 4.333333333333333, 4.0, 4.666666666666667, 3.75, 3.0, 3.5, 3.25, 3.0, 4.0, 3.5, 4.75, 2.75]

In [21]:
south_preference_ratings_of_other_cultures = pd.DataFrame(
    {'KOR': KOR_familiarity_mean, 'BRA': BRA_familiarity_mean, 'USA': USA_familiarity_mean, 'North': North_familiarity_mean, 'South': South_familiarity_mean})

south_preference_ratings_of_other_cultures

filepath = 'south_preference_ratings_of_other_cultures.xlsx'

south_preference_ratings_of_other_cultures.to_excel(filepath, index=False)

# North

In [22]:
north_hs = df.loc[df['Home State'] == 'North']
north_hs

,NAME,Familiar languages,Mother language,Home State,States lived,Age,Gender,Are you musical trained?,"If yes, select the number of years you've trained",preferred genres,...,Preference20,[Dreamy]20,[Love]20,[Energy]20,[Danceable]20,[Electronic]20,[Sad]20,[Calm]20,[Cheerful]20,[Tense]20
0,Shreyash N. Gujar,"English, Hindi, Marathi",Marathi,North,"Maharashtra, Telangana",22,Male,No,NaN,"Jazz, Classical, Rock, Religious, Pop, Hip Hop",...,4,2,2,3,3,3,1,1,2,1
5,Umang Sharma,"English, Hindi, Telugu",Hindi,North,Telangana,19,Male,No,0 -1 years,"Jazz, Rock, Pop, Hip Hop",...,4,2,2,3,3,3,1,2,4,2
6,Ishit Bansal,"English, Hindi",Hindi,North,Uttar Pradesh,20,Male,No,NaN,"Jazz, Pop",...,3,2,1,1,1,2,1,2,2,1
22,Rohan Nain,"English, Bengali, Punjabi, Hindi, Telugu",Hindi,North,"Haryana, Maharashtra, Uttar Pradesh",20,Male,No,NaN,"Jazz, Rock, Pop, Rap, Electronica/Dance",...,4,3,2,3,1,1,2,3,3,1
23,Vedansh Agrawal,"English, Hindi",Hindi,North,"Jharkhand, Telangana",19,Male,Yes,> 5 years,"Blues, Jazz, Rock, Alternative, Heavy Metal, P...",...,4,3,4,1,2,1,3,4,1,1
25,Ankit Kriti,"English, Hindi",Hindi,North,"Assam, Bihar, Jharkhand, Maharashtra, Rajastha...",22,Male,Yes,> 5 years,"Blues, Classical, Rock",...,2,1,1,4,2,4,1,1,1,4
26,Shreyas Jaiswal,"English, Hindi",Hindi,North,"Chattisgarh, Madhya Pradesh, Orissa",27,Male,No,NaN,"Blues, Classical, Folk, Sound Tracks",...,3,3,3,3,4,4,1,3,4,1
29,Nobhendu Chowdhury,"English, Bengali, Hindi",Bengali,North,Karnataka,19,Male,No,NaN,"Classical, Folk, Rock, Heavy Metal, Religious,...",...,2,1,1,4,4,4,1,1,3,2
30,Aman Raj,"English, Hindi, Urdu",Hindi,North,"South, Bihar, Goa, Haryana, Jharkhand, Karnata...",19,Male,No,NaN,"Classical, Folk, Country, Religious, Soul/Funk",...,5,1,1,4,4,4,1,1,4,1
33,Atharva Gogate,"English, Hindi, Marathi",Marathi,North,"Maharashtra, Telangana",21,Male,Yes,> 5 years,"Classical, Rock, Alternative, Pop",...,3,2,2,4,4,4,2,1,2,4
34,SUSHEEL KRISHNA,"English, Hindi, Telugu",Marathi,North,"South, Karnataka, Telangana",18,Male,No,NaN,"Classical, Heavy Metal, Soul/Funk",...,3,2,2,2,2,2,2,2,2,2
35,Chinmay,"English, Punjabi, Bhojpuri, Hindi",Hindi,North,"Haryana, Madhya Pradesh, Telangana, Delhi",20,Male,Yes,0 -1 years,"Classical, Folk, Rock, Heavy Metal, Country, R...",...,5,4,1,4,2,4,2,4,4,1
37,Sarthak Aggarwal,"English, Punjabi, Hindi","English, Punjabi, Hindi",North,"Haryana, Himachal Pradesh, Punjab, Telangana",21,Male,No,NaN,"Blues, Jazz, Classical, Folk, Rock, Heavy Meta...",...,3,2,2,4,4,4,2,2,4,4
38,Zainab Raza,"English, Hindi, Urdu, Arabic (partially)","Hindi, Urdu",North,"Telangana, Saudi Arabia",19,Female,No,NaN,"Alternative, Country, Pop, Rap, Hip Hop, Soul/...",...,4,1,2,4,2,4,2,1,1,4
45,Rucha Dhodapkar,"English, Korean, Hindi, Telugu, Marathi",Marathi,North,"South, Maharashtra, Telangana",21,Female,Yes,1 - 2 years,"Blues, Classical, Folk, Alternative, Country, ...",...,4,3,4,3,3,2,1,2,3,1
46,Nikunj Garg,"English, Hindi",Hindi,North,"Haryana, Delhi",19,Male,No,NaN,"Country, Religious, Sound Tracks, Hip Hop",...,2,1,1,1,1,1,4,3,1,4
48,Chirag Jain,"English, Gujarati, Hindi, Konkani, Marwadi","Konkani, Marwadi",North,Maharashtra,21,Male,No,NaN,"Classical, Folk, Religious, Sound Tracks, Rap",...,3,4,3,4,2,2,3,2,2,2
51,Harshvardhan Pandey,"English, Hindi",Hindi,North,West Bengal,18,Male,Yes,1 - 2 years,"Blues, Folk, Rock, Alternative, Heavy Metal",...,3,4,4,1,1,1,3,2,1,1
52,Samarth Srikar,"English, Gujarati, Hindi",Hindi,North,"Bihar, Gujarat, Uttar Pradesh",18,Male,No,NaN,"Rock, Pop, Hip Hop, Soul/Funk, Electronica/Dance",...,5,4,2,3,3,2,1,4,4,1
53,Nikhil Lamba,"English, Punjabi, Hindi",Hindi,North,"Haryana, Punjab, Telangana, Delhi",28,Male,No,NaN,"Blues, Classical, Folk, Sound Tracks, Soul/Funk",...,3,1,1,4,4,4,1,2,4,1
58,Pronoy,"English, Hindi",Hindi,North,"Orissa, Telangana, Delhi",21,Male,Yes,0 -1 years,"Classical, Rock, Pop, Sound Tracks",...,4,1,3,3,3,1,1,2,2,1
59,Jatin Gupta,"English, Hindi",Hindi,North,"Punjab, Telangana, Uttar Pradesh, Delhi",23,Male,No,NaN,"Classical, Folk, Religious",...,3,2,1,2,2,3,1,2,2,1
65,Khushi Agarwal,"English, Hindi",Hindi,North,"Rajasthan, Telangana, Uttar Pradesh",20,Female,No,0 -1 years,"Jazz, Folk, Rock, Country, Religious, Pop, Sou...",...,3,1,1,4,1,4,1,1,2,1
66,Debangan Mishra,"English, Bengali, Assamese, Hindi",Assamese,North,Outside India,18,Male,Yes,1 - 2 years,Classical,...,2,1,1,3,4,1,1,2,3,3
68,Himani Pande,"English, Hindi, Marathi",Marathi,North,"Madhya Pradesh, Maharashtra, Telangana",21,Female,No,0 -1 years,Pop,...,4,4,1,4,3,4,2,1,3,1
69,Jigyasu Khandelwal,"English, Punjabi, Hindi",Hindi,North,"Rajasthan, Telangana",25,Male,No,0 -1 years,"Blues, Rock, Religious, Pop, Rap, Hip Hop, Ele...",...,4,3,3,4,4,2,1,1,3,1
74,Ashish Chokhani,"English, Hindi",Hindi,North,"Telangana, Uttarakhand",20,Male,No,0 -1 years,"Jazz, Classical, Country, Religious, Pop, Soun...",...,3,2,2,2,1,2,2,1,2,3
77,khushi,"English, Punjabi, Hindi","Punjabi, Hindi",North,"Punjab, Telangana",19,Female,No,0 -1 years,"Blues, Jazz, Classical, Folk, Country, Religio...",...,3,1,1,3,2,3,1,1,2,3
79,Manas Deshmukh,"English, Hindi",Matathi,North,Maharashtra,19,Male,Yes,1 - 2 years,"Jazz, Rock, Hip Hop",...,2,3,2,3,2,3,2,3,2,3

## North Familiarity

In [23]:
# Familiarity of KOR for South participants

KOR_familiarity_mean = []

for index, row in north_hs.iterrows():
    # get the 'Language' columns that have the value 'KOR'
    kor_cols = [
        col for col in row.index if 'Language' in col and row[col] == 'KOR']

    # extract the 'Familiarity' values corresponding to the 'Language' columns
    kor_familiarities = [
        row[col.replace('Language', 'Familiarity')] for col in kor_cols]

    # get the mode of the 'Familiarity' values
    # familiarity_modes.append(np.argmax(np.bincount(kor_familiarities)))
    KOR_familiarity_mean.append(np.mean(kor_familiarities))

print(KOR_familiarity_mean)

[1.0, 1.0, 1.0, 2.8, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.6, 1.4, 1.0, 1.6, 1.8, 1.0, 1.0, 1.0, 1.0, 2.2, 1.4, 1.4, 1.0, 1.2, 1.0, 1.0, 1.0, 1.0, 2.4]

In [24]:
# Familiarity of BRA for South participants

BRA_familiarity_mean = []

for index, row in north_hs.iterrows():
    # get the 'Language' columns that have the value 'KOR'
    bra_cols = [
        col for col in row.index if 'Language' in col and row[col] == 'BRA']

    # extract the 'Familiarity' values corresponding to the 'Language' columns
    bra_familiarities = [
        row[col.replace('Language', 'Familiarity')] for col in bra_cols]

    # get the mode of the 'Familiarity' values
    # familiarity_modes.append(np.argmax(np.bincount(kor_familiarities)))
    BRA_familiarity_mean.append(np.mean(bra_familiarities))

print(BRA_familiarity_mean)

[1.2, 1.2, 1.0, 2.4, 1.0, 1.0, 1.0, 1.2, 1.4, 1.0, 1.2, 1.8, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.6, 1.2, 1.6, 1.0, 1.0, 1.2, 1.0, 1.0, 1.0, 2.0]

In [25]:
# Familiarity of USA for South participants

USA_familiarity_mean = []

for index, row in north_hs.iterrows():
    # get the 'Language' columns that have the value 'KOR'
    usa_cols = [
        col for col in row.index if 'Language' in col and row[col] == 'USA']

    # extract the 'Familiarity' values corresponding to the 'Language' columns
    usa_familiarities = [
        row[col.replace('Language', 'Familiarity')] for col in usa_cols]

    # get the mode of the 'Familiarity' values
    # familiarity_modes.append(np.argmax(np.bincount(kor_familiarities)))
    USA_familiarity_mean.append(np.mean(usa_familiarities))

print(USA_familiarity_mean)

[1.2, 2.2, 1.4, 2.8, 1.8, 2.2, 1.4, 2.0, 1.0, 1.0, 1.2, 3.4, 2.2, 2.0, 1.0, 1.0, 1.0, 1.2, 1.6, 2.8, 2.2, 1.6, 1.0, 1.0, 1.2, 1.8, 1.0, 1.0, 2.8]

In [26]:
# Familiarity of North for South participants

North_familiarity_mean = []

for index, row in north_hs.iterrows():
    # get the 'Language' columns that have the value 'KOR'
    north_cols = [
        col for col in row.index if 'Language' in col and row[col] == 'North']

    # extract the 'Familiarity' values corresponding to the 'Language' columns
    north_familiarities = [
        row[col.replace('Language', 'Familiarity')] for col in north_cols]

    # get the mode of the 'Familiarity' values
    # familiarity_modes.append(np.argmax(np.bincount(kor_familiarities)))
    North_familiarity_mean.append(np.mean(north_familiarities))

print(North_familiarity_mean)

[2.6666666666666665, 1.6666666666666667, 2.0, 2.75, 2.25, 3.3333333333333335, 3.0, 4.0, 3.0, 1.6666666666666667, 3.0, 4.0, 4.0, 4.0, 1.0, 1.0, 1.0, 1.0, 1.0, 3.5, 2.5, 3.5, 2.5, 1.0, 4.0, 4.0, 4.0, 4.0, 2.0]

In [27]:
# Familiarity of South for South participants

South_familiarity_mean = []

for index, row in north_hs.iterrows():
    # get the 'Language' columns that have the value 'KOR'
    south_cols = [
        col for col in row.index if 'Language' in col and row[col] == 'South']

    # extract the 'Familiarity' values corresponding to the 'Language' columns
    south_familiarities = [
        row[col.replace('Language', 'Familiarity')] for col in south_cols]

    # get the mode of the 'Familiarity' values
    # familiarity_modes.append(np.argmax(np.bincount(kor_familiarities)))
    South_familiarity_mean.append(np.mean(south_familiarities))

print(South_familiarity_mean)

[1.0, 1.0, 1.0, 3.0, 1.0, 2.5, 1.0, 1.0, 2.5, 1.0, 3.5, 1.5, 1.0, 1.0, 1.6666666666666667, 1.0, 1.0, 1.3333333333333333, 1.0, 3.0, 2.6666666666666665, 2.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.5]

In [28]:
north_familiarity_ratings_of_other_cultures = pd.DataFrame(
    {'KOR': KOR_familiarity_mean, 'BRA': BRA_familiarity_mean, 'USA': USA_familiarity_mean, 'North': North_familiarity_mean, 'South': South_familiarity_mean})

north_familiarity_ratings_of_other_cultures

filepath = 'north_familiarity_ratings_of_other_cultures.xlsx'

north_familiarity_ratings_of_other_cultures.to_excel(filepath, index=False)

## North Preference

In [29]:
# Familiarity of KOR for South participants

KOR_familiarity_mean = []

for index, row in north_hs.iterrows():
    # get the 'Language' columns that have the value 'KOR'
    kor_cols = [
        col for col in row.index if 'Language' in col and row[col] == 'KOR']

    # extract the 'Familiarity' values corresponding to the 'Language' columns
    kor_familiarities = [
        row[col.replace('Language', 'Preference')] for col in kor_cols]

    # get the mode of the 'Familiarity' values
    # familiarity_modes.append(np.argmax(np.bincount(kor_familiarities)))
    KOR_familiarity_mean.append(np.mean(kor_familiarities))

print(KOR_familiarity_mean)

[2.8, 3.4, 3.2, 3.8, 3.8, 2.6, 3.0, 3.2, 2.6, 3.0, 3.2, 3.4, 3.0, 3.8, 4.0, 3.4, 3.4, 3.2, 3.0, 4.2, 3.8, 3.2, 2.6, 3.2, 3.0, 3.0, 2.2, 3.0, 3.8]

In [30]:
# Familiarity of BRA for South participants

BRA_familiarity_mean = []

for index, row in north_hs.iterrows():
    # get the 'Language' columns that have the value 'KOR'
    bra_cols = [
        col for col in row.index if 'Language' in col and row[col] == 'BRA']

    # extract the 'Familiarity' values corresponding to the 'Language' columns
    bra_familiarities = [
        row[col.replace('Language', 'Preference')] for col in bra_cols]

    # get the mode of the 'Familiarity' values
    # familiarity_modes.append(np.argmax(np.bincount(kor_familiarities)))
    BRA_familiarity_mean.append(np.mean(bra_familiarities))

print(BRA_familiarity_mean)

[3.0, 3.4, 2.6, 4.0, 3.8, 2.0, 3.0, 2.8, 1.8, 3.6, 2.6, 3.2, 3.4, 3.8, 3.4, 2.0, 3.4, 3.2, 3.2, 3.4, 3.0, 3.8, 2.8, 3.0, 3.0, 2.6, 3.2, 3.2, 3.0]

In [31]:
# Familiarity of USA for South participants

USA_familiarity_mean = []

for index, row in north_hs.iterrows():
    # get the 'Language' columns that have the value 'KOR'
    usa_cols = [
        col for col in row.index if 'Language' in col and row[col] == 'USA']

    # extract the 'Familiarity' values corresponding to the 'Language' columns
    usa_familiarities = [
        row[col.replace('Language', 'Preference')] for col in usa_cols]

    # get the mode of the 'Familiarity' values
    # familiarity_modes.append(np.argmax(np.bincount(kor_familiarities)))
    USA_familiarity_mean.append(np.mean(usa_familiarities))

print(USA_familiarity_mean)

[3.0, 3.8, 3.2, 3.8, 4.4, 3.8, 3.2, 3.4, 3.6, 3.0, 2.8, 4.8, 4.2, 4.0, 4.0, 3.6, 3.2, 3.6, 4.2, 3.4, 4.0, 3.4, 3.4, 2.8, 3.2, 3.4, 3.0, 3.4, 3.6]

In [32]:
# Familiarity of North for South participants

North_familiarity_mean = []

for index, row in north_hs.iterrows():
    # get the 'Language' columns that have the value 'KOR'
    north_cols = [
        col for col in row.index if 'Language' in col and row[col] == 'North']

    # extract the 'Familiarity' values corresponding to the 'Language' columns
    north_familiarities = [
        row[col.replace('Language', 'Preference')] for col in north_cols]

    # get the mode of the 'Familiarity' values
    # familiarity_modes.append(np.argmax(np.bincount(kor_familiarities)))
    North_familiarity_mean.append(np.mean(north_familiarities))

print(North_familiarity_mean)

[4.0, 3.3333333333333335, 4.0, 3.75, 3.5, 4.666666666666667, 3.0, 4.0, 4.666666666666667, 2.6666666666666665, 3.6666666666666665, 5.0, 4.0, 5.0, 3.5, 2.5, 3.5, 3.5, 3.0, 4.5, 4.5, 4.5, 3.5, 3.0, 4.0, 4.0, 5.0, 5.0, 4.0]

In [33]:
# Familiarity of South for South participants

South_familiarity_mean = []

for index, row in north_hs.iterrows():
    # get the 'Language' columns that have the value 'KOR'
    south_cols = [
        col for col in row.index if 'Language' in col and row[col] == 'South']

    # extract the 'Familiarity' values corresponding to the 'Language' columns
    south_familiarities = [
        row[col.replace('Language', 'Preference')] for col in south_cols]

    # get the mode of the 'Familiarity' values
    # familiarity_modes.append(np.argmax(np.bincount(kor_familiarities)))
    South_familiarity_mean.append(np.mean(south_familiarities))

print(South_familiarity_mean)

[3.5, 3.5, 2.5, 3.0, 3.0, 4.5, 3.0, 2.5, 2.5, 2.5, 3.5, 3.5, 2.0, 4.5, 3.0, 3.0, 3.5, 3.0, 3.0, 4.666666666666667, 3.6666666666666665, 4.666666666666667, 3.0, 2.3333333333333335, 3.5, 2.75, 3.75, 3.25, 4.0]

In [34]:
north_preference_ratings_of_other_cultures = pd.DataFrame(
    {'KOR': KOR_familiarity_mean, 'BRA': BRA_familiarity_mean, 'USA': USA_familiarity_mean, 'North': North_familiarity_mean, 'South': South_familiarity_mean})

north_preference_ratings_of_other_cultures

filepath = 'north_preference_ratings_of_other_cultures.xlsx'

north_preference_ratings_of_other_cultures.to_excel(filepath, index=False)

# INDIA

In [46]:
ind = pd.read_csv(
    'C:/Users/Keerthi/OneDrive/Documents/MMT/Project/Collected data/MMT tweaking IND.csv')

## INDIA Familiarity

In [47]:
# Familiarity of KOR for INDIAN participants

KOR_familiarity_mean = []

for index, row in ind.iterrows():
    # get the 'Language' columns that have the value 'KOR'
    kor_cols = [
        col for col in row.index if 'Language' in col and row[col] == 'KOR']

    # extract the 'Familiarity' values corresponding to the 'Language' columns
    kor_familiarities = [
        row[col.replace('Language', 'Familiarity')] for col in kor_cols]

    # get the mode of the 'Familiarity' values
    # familiarity_modes.append(np.argmax(np.bincount(kor_familiarities)))
    KOR_familiarity_mean.append(np.mean(kor_familiarities))

print(KOR_familiarity_mean)

[1.0, 1.8, 1.8, 1.0, 2.6, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.2, 1.0, 2.2, 1.2, 1.0, 1.0, 1.4, 1.2, 2.4, 1.0, 1.0, 2.8, 1.0, 1.4, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.6, 1.4, 1.0, 1.0, 1.6, 2.8, 1.0, 1.0, 1.6, 1.0, 1.0, 1.8, 1.0, 1.0, 1.0, 1.2, 1.0, 1.0, 1.0, 2.2, 1.0, 1.2, 1.0, 1.0, 1.4, 1.4, 1.6, 1.8, 1.0, 1.0, 1.6, 1.0, 1.2, 1.4, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.4, 1.0]

In [48]:
# Familiarity of BRA for INDIAN participants

BRA_familiarity_mean = []

for index, row in ind.iterrows():
    # get the 'Language' columns that have the value 'KOR'
    bra_cols = [
        col for col in row.index if 'Language' in col and row[col] == 'BRA']

    # extract the 'Familiarity' values corresponding to the 'Language' columns
    bra_familiarities = [
        row[col.replace('Language', 'Familiarity')] for col in bra_cols]

    # get the mode of the 'Familiarity' values
    # familiarity_modes.append(np.argmax(np.bincount(kor_familiarities)))
    BRA_familiarity_mean.append(np.mean(bra_familiarities))

print(BRA_familiarity_mean)

[1.2, 1.0, 2.2, 1.0, 1.0, 1.2, 1.0, 1.0, 1.2, 1.0, 1.2, 1.0, 1.0, 1.2, 1.0, 1.0, 1.0, 1.4, 1.0, 2.2, 1.0, 1.0, 2.4, 1.0, 1.0, 1.0, 1.0, 1.0, 1.2, 1.2, 1.4, 1.0, 1.0, 1.0, 1.2, 1.8, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.6, 1.0, 1.0, 1.0, 1.2, 1.2, 1.6, 1.6, 1.2, 1.0, 1.0, 1.4, 1.0, 1.0, 1.8, 1.2, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 1.2]

In [49]:
# Familiarity of USA for INDIAN participants

USA_familiarity_mean = []

for index, row in ind.iterrows():
    # get the 'Language' columns that have the value 'KOR'
    usa_cols = [
        col for col in row.index if 'Language' in col and row[col] == 'USA']

    # extract the 'Familiarity' values corresponding to the 'Language' columns
    usa_familiarities = [
        row[col.replace('Language', 'Familiarity')] for col in usa_cols]

    # get the mode of the 'Familiarity' values
    # familiarity_modes.append(np.argmax(np.bincount(kor_familiarities)))
    USA_familiarity_mean.append(np.mean(usa_familiarities))

print(USA_familiarity_mean)

[1.2, 1.0, 2.4, 1.0, 1.4, 2.2, 1.4, 1.0, 1.0, 1.0, 1.6, 2.2, 1.0, 1.8, 1.2, 1.6, 1.0, 3.0, 1.4, 1.6, 1.0, 1.2, 2.8, 1.8, 1.0, 2.2, 1.4, 1.0, 2.2, 2.0, 1.0, 1.0, 1.2, 1.0, 1.2, 3.4, 1.0, 2.2, 2.0, 2.8, 1.0, 1.2, 1.6, 2.4, 1.0, 1.0, 1.0, 1.2, 1.0, 1.0, 1.0, 1.2, 1.6, 2.8, 1.0, 1.0, 1.0, 1.8, 2.2, 1.6, 1.6, 2.0, 1.0, 1.2, 2.4, 1.0, 1.0, 1.0, 1.2, 1.8, 1.0, 1.8, 1.0, 1.0, 1.0, 1.4, 1.0, 1.0, 1.0, 2.8, 1.0]

In [50]:
# Familiarity of North for INDIAN participants

Indian_familiarity_mean = []

for index, row in ind.iterrows():
    # get the 'Language' columns that have the value 'KOR'
    indian_cols = [
        col for col in row.index if 'Language' in col and row[col] == 'IND']

    # extract the 'Familiarity' values corresponding to the 'Language' columns
    Indian_familiarities = [
        row[col.replace('Language', 'Familiarity')] for col in indian_cols]

    # get the mode of the 'Familiarity' values
    # familiarity_modes.append(np.argmax(np.bincount(kor_familiarities)))
    Indian_familiarity_mean.append(np.mean(Indian_familiarities))

print(Indian_familiarity_mean)

[2.0, 1.4, 2.4, 1.4, 2.2, 1.4, 1.6, 1.6, 1.0, 1.8, 2.8, 2.0, 1.4, 2.4, 1.6, 1.0, 1.0, 2.4, 1.8, 2.2, 1.6, 1.6, 2.8, 2.0, 1.4, 3.0, 2.2, 2.4, 2.0, 2.8, 2.8, 2.0, 1.6, 1.4, 3.2, 3.0, 1.2, 2.8, 2.8, 2.6, 2.0, 2.6, 2.2, 1.6, 2.2, 1.4, 1.0, 1.8, 1.0, 1.2, 1.6, 1.2, 1.0, 3.2, 2.6, 2.8, 1.8, 2.8, 2.6, 2.6, 2.8, 3.2, 2.6, 2.2, 2.6, 1.6, 1.0, 1.6, 1.6, 1.6, 2.0, 2.4, 1.8, 2.4, 1.6, 2.2, 2.0, 1.6, 2.2, 2.4, 1.4]

In [51]:
indian_familiarity_ratings_of_other_cultures = pd.DataFrame(
    {'KOR': KOR_familiarity_mean, 'BRA': BRA_familiarity_mean, 'USA': USA_familiarity_mean, 'Indian': Indian_familiarity_mean})

indian_familiarity_ratings_of_other_cultures

# filepath = 'indian_familiarity_ratings_of_other_cultures.xlsx'

# indian_familiarity_ratings_of_other_cultures.to_excel(filepath, index=False)

    KOR  BRA  USA  Indian
0   1.0  1.2  1.2     2.0
1   1.8  1.0  1.0     1.4
2   1.8  2.2  2.4     2.4
3   1.0  1.0  1.0     1.4
4   2.6  1.0  1.4     2.2
..  ...  ...  ...     ...
76  1.0  1.0  1.0     2.0
77  1.0  1.0  1.0     1.6
78  1.0  1.0  1.0     2.2
79  2.4  2.0  2.8     2.4
80  1.0  1.2  1.0     1.4

[81 rows x 4 columns]

## INDIAN Preference

In [52]:
# Familiarity of KOR for South participants

KOR_familiarity_mean = []

for index, row in ind.iterrows():
    # get the 'Language' columns that have the value 'KOR'
    kor_cols = [
        col for col in row.index if 'Language' in col and row[col] == 'KOR']

    # extract the 'Familiarity' values corresponding to the 'Language' columns
    kor_familiarities = [
        row[col.replace('Language', 'Preference')] for col in kor_cols]

    # get the mode of the 'Familiarity' values
    # familiarity_modes.append(np.argmax(np.bincount(kor_familiarities)))
    KOR_familiarity_mean.append(np.mean(kor_familiarities))

print(KOR_familiarity_mean)

[2.8, 3.2, 3.8, 1.8, 3.6, 3.4, 3.2, 3.2, 3.0, 1.4, 2.6, 3.0, 2.6, 2.4, 2.8, 2.6, 2.6, 3.8, 3.2, 4.0, 3.4, 3.6, 3.8, 3.8, 3.4, 2.6, 3.0, 3.4, 3.8, 3.2, 2.6, 3.6, 2.8, 3.0, 3.2, 3.4, 3.6, 3.0, 3.8, 4.2, 2.8, 3.6, 3.6, 3.0, 3.8, 4.0, 3.4, 3.0, 3.4, 2.6, 2.8, 3.2, 3.0, 4.2, 3.0, 3.8, 3.6, 3.0, 3.8, 3.2, 3.8, 3.6, 2.8, 3.8, 3.4, 2.6, 3.2, 4.2, 3.0, 3.0, 2.8, 3.4, 2.2, 2.8, 2.2, 2.4, 1.8, 3.0, 3.6, 3.8, 1.4]

In [53]:
# Familiarity of BRA for South participants

BRA_familiarity_mean = []

for index, row in ind.iterrows():
    # get the 'Language' columns that have the value 'KOR'
    bra_cols = [
        col for col in row.index if 'Language' in col and row[col] == 'BRA']

    # extract the 'Familiarity' values corresponding to the 'Language' columns
    bra_familiarities = [
        row[col.replace('Language', 'Preference')] for col in bra_cols]

    # get the mode of the 'Familiarity' values
    # familiarity_modes.append(np.argmax(np.bincount(kor_familiarities)))
    BRA_familiarity_mean.append(np.mean(bra_familiarities))

print(BRA_familiarity_mean)

[3.0, 3.0, 4.0, 1.8, 2.6, 3.4, 2.6, 3.2, 3.0, 1.6, 3.6, 1.8, 3.0, 3.2, 3.0, 3.6, 2.4, 4.2, 2.6, 3.8, 3.2, 3.0, 4.0, 3.8, 3.2, 2.0, 3.0, 3.0, 3.2, 2.8, 1.8, 3.4, 3.0, 3.6, 2.6, 3.2, 3.8, 3.4, 3.8, 3.2, 2.6, 3.2, 3.6, 2.6, 3.2, 3.4, 2.0, 4.4, 3.4, 2.2, 2.6, 3.2, 3.2, 3.4, 3.0, 3.4, 3.8, 2.6, 3.0, 3.8, 3.8, 2.8, 3.0, 2.2, 3.2, 2.8, 3.0, 3.4, 3.0, 2.6, 3.0, 3.2, 2.6, 3.0, 3.2, 3.2, 3.2, 3.2, 3.6, 3.0, 2.6]

In [54]:
# Familiarity of USA for South participants

USA_familiarity_mean = []

for index, row in ind.iterrows():
    # get the 'Language' columns that have the value 'KOR'
    usa_cols = [
        col for col in row.index if 'Language' in col and row[col] == 'USA']

    # extract the 'Familiarity' values corresponding to the 'Language' columns
    usa_familiarities = [
        row[col.replace('Language', 'Preference')] for col in usa_cols]

    # get the mode of the 'Familiarity' values
    # familiarity_modes.append(np.argmax(np.bincount(kor_familiarities)))
    USA_familiarity_mean.append(np.mean(usa_familiarities))

print(USA_familiarity_mean)

[3.0, 3.0, 4.0, 1.8, 2.6, 3.8, 3.2, 3.2, 3.0, 2.6, 3.6, 3.2, 2.8, 3.2, 3.0, 3.0, 3.0, 3.8, 2.4, 4.0, 3.6, 2.8, 3.8, 4.4, 3.0, 3.8, 3.2, 3.0, 4.4, 3.4, 3.6, 4.0, 3.2, 3.0, 2.8, 4.8, 3.6, 4.2, 4.0, 3.8, 2.4, 2.4, 3.2, 4.0, 3.6, 4.0, 3.6, 3.4, 3.2, 2.4, 4.0, 3.6, 4.2, 3.4, 2.8, 3.8, 3.0, 3.6, 4.0, 3.4, 4.0, 3.4, 2.8, 2.6, 3.4, 3.4, 2.8, 4.0, 3.2, 3.4, 2.8, 3.2, 2.0, 1.4, 3.0, 3.6, 3.0, 3.4, 3.6, 3.6, 2.0]

In [55]:
# Familiarity of North for South participants

Indian_familiarity_mean = []

for index, row in ind.iterrows():
    # get the 'Language' columns that have the value 'KOR'
    indian_cols = [
        col for col in row.index if 'Language' in col and row[col] == 'IND']

    # extract the 'Familiarity' values corresponding to the 'Language' columns
    Indian_familiarities = [
        row[col.replace('Language', 'Preference')] for col in indian_cols]

    # get the mode of the 'Familiarity' values
    # familiarity_modes.append(np.argmax(np.bincount(kor_familiarities)))
    Indian_familiarity_mean.append(np.mean(Indian_familiarities))

print(Indian_familiarity_mean)

[3.8, 3.4, 4.6, 2.0, 3.8, 3.4, 3.4, 4.0, 3.0, 3.4, 4.0, 4.0, 2.6, 3.6, 3.4, 2.8, 3.2, 3.6, 3.0, 4.0, 3.4, 3.6, 3.6, 3.4, 3.4, 4.6, 3.0, 4.2, 3.8, 3.4, 3.8, 4.0, 3.2, 2.6, 3.6, 4.4, 3.4, 3.2, 4.8, 2.8, 3.0, 3.6, 3.8, 3.0, 3.2, 3.2, 2.8, 3.8, 3.6, 3.2, 2.6, 3.2, 3.0, 4.6, 3.6, 3.8, 4.4, 3.6, 4.0, 4.6, 4.0, 4.0, 4.0, 3.0, 3.8, 3.2, 2.6, 3.8, 3.6, 3.0, 3.0, 3.6, 3.2, 3.2, 4.0, 3.8, 3.4, 3.6, 4.2, 4.0, 2.8]

In [45]:
indian_preference_ratings_of_other_cultures = pd.DataFrame(
    {'KOR': KOR_familiarity_mean, 'BRA': BRA_familiarity_mean, 'USA': USA_familiarity_mean, 'Indian': Indian_familiarity_mean})

indian_preference_ratings_of_other_cultures

# filepath = 'indian_preference_ratings_of_other_cultures.xlsx'

# indian_preference_ratings_of_other_cultures.to_excel(filepath, index=False)

    KOR  BRA  USA  Indian
0   2.8  3.0  3.0     NaN
1   3.2  3.0  3.0     NaN
2   3.8  4.0  4.0     NaN
3   1.8  1.8  1.8     NaN
4   3.6  2.6  2.6     NaN
..  ...  ...  ...     ...
76  1.8  3.2  3.0     NaN
77  3.0  3.2  3.4     NaN
78  3.6  3.6  3.6     NaN
79  3.8  3.0  3.6     NaN
80  1.4  2.6  2.0     NaN

[81 rows x 4 columns]